<div class="search">
  <div class="top">
    <i class="fi fi-rs-search"></i>
    <h2>Search Users</h2>
  </div>
  <div class="searchInput">
    <i class="fi fi-rs-search"></i>
    <input
      type="text"
      placeholder="Search Users By Name, Username or Email..."
      [(ngModel)]="searchKeyword"
      (input)="searchUser()"
    />
  </div>
</div>

<section>
  <div class="head">
    <i class="fi fi-rs-users"></i>
    <h2>User List</h2>
  </div>
  <div class="usersTable">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Company</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (user of usersList; track $index) {
        <tr>
          <td>{{ user.name }}</td>
          <td>&#64;{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>
            {{ user.company.name }}
          </td>
          <td class="actionBtns">
            <button (click)="goToUsersPost(user.id)">
              <i class="fi fi-rr-blog-text"></i> Posts
            </button>
            <button (click)="goToUserstasks(user.id)">
              <i class="fi fi-rs-task-checklist"></i> Tasks
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</section>
